module test_module 1.0;

require {
    type unconfined_t;
    type fs_t;
    class file { ioctl getattr read open relabelto };
    class filesystem { associate };
}

type my_test_file_t;
allow my_test_file_t fs_t:filesystem associate;
allow unconfined_t my_test_file_t : file { getattr read open relabelto };

allow unconfined_t my_test_file_t : file ioctl;
allowxperm unconfined_t my_test_file_t : file ioctl 1;
allowxperm unconfined_t my_test_file_t : file ioctl 0x02;
allowxperm unconfined_t my_test_file_t : file ioctl 3;
allowxperm unconfined_t my_test_file_t : file ioctl { 10-20 };
